Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Security==1.7.5
Flask-Sockets==0.2.0
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.4
argparse==1.2.1
cycler==0.10.0
gevent==1.1.0
gevent-websocket==0.9.5
greenlet==0.4.9
gunicorn==19.4.5
itsdangerous==0.24
matplotlib==1.5.1
numpy==1.10.4
pyparsing==2.1.0
python-dateutil==2.5.1
pytz==2016.1
redis==2.10.5
requests==2.9.1
six==1.10.0
wsgiref==0.1.2
