Flask==0.10.1
Flask-Sockets==0.2.0
gevent==1.1.0
gevent-websocket==0.9.5
greenlet==0.4.9
numpy==1.10.4
redis==2.10.5
scipy==0.17.0
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.4
argparse==1.2.1
gunicorn==19.4.5
itsdangerous==0.24
requests==2.9.1
wsgiref==0.1.2
